.main-container{
    padding-top: 20px;
    width: 100%;
    height: calc(100vh - 200px);
    background-color: #2B2736;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 0 0;

}

.sections{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-botoes{
    width: 100vw;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


@media screen and (min-width: 800px)
{
     .sections{
        max-width: 700px;
    }
    .main-container{
        padding: 2% 0;
    }

    .container-botoes{

        margin: 10px 0 0 0 ;
    } 
}