.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #3D3B6B, #2B2837) ;
    /*  */
}

.container-title{
    padding: 20px;
    text-align: center;
    margin-top: 5%;
}

.container-title h2 {
    color: white;
    font-size: 35px;
}

.container-image{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 10px;
    max-width: 400px;
}

.image{
    width: 80%;
}

.container-botao{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10%;
    max-width: 500px;
}

@media screen and (min-width: 800px) {

    .container-title{
        padding:20px;
        text-align: center;
    }
    
    .container-botao{
         margin-top: 5%; 
    }

}