.main-container{
    background-color: #2B2736;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-menu{
    width: 100%;
    display: flex;
    justify-content: center;
}



.name{  color: white;
    border-radius: 30px;
    text-align: center;
    border: 0;
    padding: 15px;
    font-size: 20px;
    width: 50%;
    max-width: 250px ;
    margin: 20px 0 0 0;
    background-color: #6856AD; 

}

@media screen and (min-width: 800px){
    .botao-container{
        margin:0;
        margin-top: 10px;
}

.container-botao{
    margin: 1%;
}

.container-timer{
    margin: 1%;
}


}