/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Alef', sans-serif;
font-family: 'Signika Negative', sans-serif;
}

.borda{
    border: 1px solid red;
}