.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    max-width: 750px;
}

.icon{
    width: 45px;
}

ul{
    margin: 10% 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0 0 0;
    text-align: center;
}

li{
    width: 50%;
    padding: 20px;
    border-top:2px solid #2B2736;
}

li:hover{
    cursor: pointer;
}

li:active{
    position: relative;
    top:1px;

}

.menu-ativo{
    border-top:2px solid #18161f;
}

li:first-child{
    padding-left: 80px;
}
li:last-child{
    padding-right: 80px;
} 


@media screen and (min-width: 800px){
    ul{
        margin:0;
    }
}