<nav class="container-menu">
    <ul>
        <li id="clock"
            [routerLink]="['']"
            [routerLinkActive]="['menu-ativo']"
            [routerLinkActiveOptions]="{exact:true}">    

            <img src="../../../assets/imgs/clock.svg" 
            class="icon"  alt="">
        </li>
        <li id="settings"
            [routerLink]="['/settings']"
            [routerLinkActive]="['menu-ativo']"
            [routerLinkActiveOptions]="{exact:true}"> 
            <img src="../../../assets/imgs/settings.svg" 
            class="icon" >
        </li>
    </ul>
</nav>
