button{
    color: white;
    border-radius: 30px;
    text-align: center;
    border: 0;
    padding: 15px;
    font-size: 20px;
    width: 7em;
}

.btn-padrao
{
    background-color: #6856AD; 
}

.btn-transparent
{
    background-color: transparent; 
}


button:active{
    position: relative;
    top: 1px;
 }