<div class="container" *ngFor="let element of sections" >
    <div  class="visible-part">
        <span class="title">{{element.title}}</span>
        <div class="time-settings">
        <span  class="time"> {{id_option[element.id]}} </span>
        <button class="arrow-btn" (click)='changeVisibility(element.id)'>        
        <img src="../../../assets/imgs/arrow-down-line.svg" alt=""></button>
        </div>
    </div>
    <div *ngIf="visibility[element.id-1]" class="open">
        <span class="option" *ngFor="let p of element.options" (click)="Clicou(element, p)">  {{p.value.slice(0,2)}} </span>
    </div>
</div>
